@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #e5e5e5;
}

.header {
  /* Sunset Orange / orange-6 */
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  margin-left: 60px;
  margin-right: auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-style: 14px;
  line-height: 22px;
}

.input-group {
  max-width: 237px;
  width: 55%;
  height: 32px;
  position: relative;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d5d5d5;
}

.search-input {
  border: none;
  height: 100%;
  width: 80%;
  font-size: 14px;
  padding-left: 12px;
}

.search-button {
  border: none;
  background: white;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input::-moz-placeholder {
  color: #bfbfbf;
}

.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.search-input::placeholder {
  color: #bfbfbf;
}

.menu-toggle {
  display: none;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.posts {
  width: 67%;
}

.post {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.post-body {
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 0px;
}

.post-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  /* Bold / 16px | 24px */
  font-size: 16px;
  line-height: 24px;
}

.post-text {
  /* Grey / grey-9 */
  color: #262626;
  /* Regular / 14px | 22px */
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.tegs {
  margin-bottom: 22px;
}

.teg {
  /* Grey / grey-6 */
  color: #bfbfbf;
  /* Regular / 14px | 22px */
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  /* Grey / grey-2 */
  background: #fafafa;
  /* Grey / grey-4 */
  border-top: 1px solid #e8e8e8;
}

.post-buttons {
  display: flex;
  align-items: center;
}

.post-button .icon {
  fill: #8c8c8c;
}

.icon-like,
.icon-comment {
  margin-right: 6px;
}

.post-button {
  background: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  /* Regular / 14px | 22px */
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
}

.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}

.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}

.author-username {
  display: block;
  color: #8c8c8c;
  /* Regular / 12px | 20px */
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.post-time {
  color: #bfbfbf;
  /* Regular / 12px | 20px */
  font-size: 12px;
  line-height: 20px;
}

.user {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}

.user-name {
  /* Semibold / 16 px | 24 px */
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* Grey / grey-8 */
  color: #595959;
}

.icon-exit {
  width: 20px;
  height: 20px;
  fill: #000000;
}

.icon-video,
.icon-photo {
  width: 14px;
  height: 11px;
  fill: #ffc53d;
}

.sidebar {
  width: 31%;
}

.sidebar-nav {
  background-color: #fff;
}

.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}

.sidebar-menu-link {
  width: 100%;
  text-decoration: none;
  /* Semibold / 14 px | 22 px */
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 15px 48px;
  display: inline-block;
  background-color: #fff;
}

.sidebar-menu-link:hover {
  background-color: #fffbe6;
}

.sidebar-menu-link.active {
  background-color: #fffbe6;
  border-right: 3px solid #faad14;
}

.button {
  background: #faad14;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  /* Semibold / 16 px | 24 px */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  border: none;
  cursor: pointer;
}

.button-outline {
  background: #fff;
  border: 1px solid #ffc53d;
  border-radius: 4px;
  color: #ffc53d;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.button-new-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon-fire {
  width: 11px;
  height: 13px;
  fill: #fff;
  margin-right: 10px;
}

.card {
  /* Grey / grey-1 */
  background: #ffffff;
  /* Grey / grey-4 */
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}

.card-header {
  /* Grey / grey-1 */
  background: #fafafa;
  /* Grey / grey-4 */
  border-bottom: 1px solid #e8e8e8;
  padding-left: 25px;
}

.card-title {
  /* Semibold / 16 px | 24 px */
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.card-body {
  padding: 22px 40px 20px 25px;
}

.card-body-title {
  margin: 0;
  text-decoration: none;
  /* Semibold / 16 px | 24 px */
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  /* Calendula Gold / gold-7 */
  color: #d48806;
}

.card-text {
  /* Regular / 14px | 22px */
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* Grey / grey-9 */
  color: #262626;
  margin: 10px 0;
}

.promo {
  display: block;
  background: #fff url("../img/ads.jpg") no-repeat center center / cover;
  width: 100%;
  height: 260px;
  /* Grey / grey-4 */
  border-bottom: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}

.promo:before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  margin-right: 26px;
  margin-left: 26px;
  /* Regular / 12px | 20 px */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #fff;
}

.add-post {
  display: flex;
  flex-direction: column;
}

.add-title,
.add-text {
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
}

.add-text {
  min-height: 362px;
}

.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 2%;
}

.add-post .button-outline {
  margin-right: 1%;
}

@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }

  .menu-toggle span {
    height: 1px;
    width: 100%;
    background-color: #fff;
  }

  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }

  .content {
    margin-top: 94px;
    margin-bottom: 16px;
  }

  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: 100%;
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow: auto;
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .posts {
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .header-menu {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }

  .add-button {
    width: 100%;
    min-width: 100%;
  }

  .add-post .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
  }

  .post-author {
    margin-top: 15px;
  }

  .author-about {
    order: 2;
    text-align: left;
  }

  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
}
